/* ================== CONTACT ================== */
.contact-section {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.contact-section h2 {
  text-align: center;
  margin-bottom: 10px;
}

.contact-section p {
  text-align: center;
  margin-bottom: 30px;
}

/* Container for 2-column layout */
.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 4rem;
  box-sizing: border-box;
}

/* Left Column: vertical contact details */
.contact-left {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.contact-info-vertical {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  gap: 2rem;
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 25px;
  background-color: var(--card-bg);
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px var(--box-shadow);
  transition: all 0.3s;
  width: 100%;
}

.contact-item:hover {
  transform: translateY(-3px);
}

.contact-item .contact-icon {
  flex-shrink: 0;
  font-size: 1.3rem;
  color: #1b7eb3;
  transition: all 0.3s;
}

.contact-item:hover .contact-icon {
  transform: translateX(5px) scale(1.1);
  transition: transform 0.3s;
}

.contact-item div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item h4 {
  margin: 0 0 5px 0;
  font-size: 1rem;
  color: var(--text-color);
}

.contact-item p {
  margin: 0;
  font-size: 0.95rem;
  /* color: var(--text-color); */
  color: #8f8c8d;
}

/* Right Column: Form */
.contact-right {
  flex: 1;
  min-width: 250px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--card-bg);
  box-shadow: 0 2px 8px var(--box-shadow);
  border-radius: 10px;
  padding: 2rem 3rem;
  box-sizing: border-box;
  transition: all 0.3s;
}

.contact-form:hover {
  transform: translateY(-3px);
}

.contact-form .form-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .form-row label {
  font-weight: 600;
}

.contact-form .form-row input {
  flex: 1;
  padding: 1.2rem 1.5rem;
  border-radius: 6px;
  border: 1px solid #b7b7b7;
  background-color: var(--input-field-bg);
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.3s;
}

.contact-form textarea {
  padding: 1.2rem 1.5rem;
  border-radius: 6px;
  border: 1px solid #b7b7b7;
  background-color: var(--input-field-bg);
  color: var(--text-color);
  resize: vertical;
  font-size: 1rem;
  transition: all 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--button-bg);
  outline: none;
}

.contact-form button {
  padding: 12px 18px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s;
}

.contact-form button:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 1024px) {
  .contact-container {
    padding: 2rem;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 20px;
    padding: 1.5rem;
  }

  .contact-left {
    align-items: center;
  }

  .contact-left p {
    font-size: 0.8rem;
    margin: 0 auto;
  }
  .contact-item div {
    display: flex;
    flex-direction: column;
  }

  .contact-item p {
    font-size: 0.8rem;
  }

  .contact-form {
    padding: 1.5rem;
    width: 95%;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 1rem;
    gap: 20px;
  }
  .contact-form .form-row input,
  .contact-form textarea {
    padding: 1rem;
    font-size: 0.95rem;
  }
  .contact-form button {
    font-size: 0.95rem;
    padding: 10px 16px;
  }
  .contact-item {
    padding: 12px 15px;
  }
  .contact-item .contact-icon {
    font-size: 1.1rem;
  }
}
