/* ================== PROJECTS ================== */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
}

/* Card Container */
.project-card {
  height: 70vh;
  background: var(--card-bg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px var(--box-shadow);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Hover */
.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 2px 8px #4e4f50;
}

/* Image Section */
.project-img-container {
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 130px;
  overflow: hidden;
}

.project-img-container img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
  z-index: 0;
}

/* Only the active image responds */
.project-img-container img.active {
  opacity: 1;
  z-index: 1;
}

.project-img-container:hover img.active {
  transform: scale(1.05);
  opacity: 0.8;
}

/* The text overlay */
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 2.8rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.536);
  text-transform: uppercase;
  /* pointer-events: none; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Show text when hovering container */
.project-img-container:hover .img-text {
  opacity: 1;
}

.project-btn {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #0080ff;
  border: none;
  background-color: transparent;
}

.project-btn:hover {
  font-size: 1rem;
  text-decoration: underline;
  color: #50a7ff;
}

/* Content Section */
.project-content {
  padding: 1rem 1.3rem;
  flex: 1;
}

.project-content h3 {
  margin-bottom: 8px;
  color: var(--text-color);
}

.project-content p {
  margin-bottom: 15px;
  color: var(--text-color);
}

/* Link/Button */
.project-content a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

.project-content a:hover {
  text-decoration: underline;
}

.project-name {
  position: relative;
}

.project-description {
  height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-description::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Tags */
.project-card .tags,
.project-tags {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  gap: 8px;

  overflow-x: auto; /* enable horizontal scroll */

  white-space: nowrap;
  width: 92%;
  /* height: fit-content; */
  padding-bottom: 0.3rem;
  padding-left: 1rem;
}

/* Hide scrollbar */
.project-tags::-webkit-scrollbar {
  height: 0;
}

.project-card .tags span,
.project-tags span {
  background: #c5d7f9;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 700;
  transition: all 0.3s;
}

.project-tags span:hover {
  transform: translateX(-4px);
  filter: drop-shadow(3px 3px 0px var(--shadow-color));
}

/* ========== MOBILE RESPONSIVE ========== */
@media (max-width: 1200px) {
  .project-card {
    height: auto;
  }

  .project-img-container {
    height: 180px;
  }

  .project-content {
    padding-bottom: 3rem; /* adjust so tags don't overlap */
  }

  .project-card .tags {
    bottom: 0.8rem;
  }
}

@media (max-width: 768px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
  }

  .project-card {
    height: auto;
  }

  .project-img-container {
    height: 180px;
  }

  .project-content {
    padding-bottom: 3rem; /* adjust so tags don't overlap */
  }

  .project-card .tags {
    bottom: 0.8rem;
  }
}

@media (max-width: 460px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
}
